header{
    width: 100%;
    height: auto;


    
    
    background-color: var(--transparencia-clara);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  
    border-radius: 24px;
  
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  
    box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

    margin: 120px auto 0;

    padding: 24px;
    

    display: flex;
    flex-direction: column;

    gap: 24px;

    .titulo-container{
        
        width: 100%;

        color: var(--primary-color);

        background-color: var(--transparencia-media);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    
        border-radius: 24px;
    
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    
        box-shadow: -0 3px 20px 3px rgba(0, 0, 0, 0.1);

        display: flex;

        padding: 0 24px;


    }
    

    
  
}

.profile-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;

    gap: 14px;
    position: relative;
    .profile-img{
        width: 100%;
        max-width: 200px;
        height: 250px;

        background-color: var(--transparencia-clara);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    
    
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    
        box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

        border-radius: 24px;

    }
    .profile-text-container{
        width: 100%;
        max-width: 600px;
        

        display: flex;
        flex-direction: column;

        gap: 14px;
        color: var(--primary-color);
        .profile-titulo{
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            max-width: 300px;
            height: auto;

            background-color: var(--transparencia-clara);
            color: var(--transparencia-escura);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            
            border-radius: 24px;
            
            border-top: 2px solid rgba(255, 255, 255, 0.2);
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            
            box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

        }
        .stacks-container{
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            
            background-color: var(--transparencia-clara);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            
            border-radius: 24px;
            
            border-top: 2px solid rgba(255, 255, 255, 0.2);
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            
            box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);
        
            padding: 0;
            
            

            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
                gap: 14px;
                li{
                    list-style-type: none;

                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 14px;

                    background-color: var(--transparencia-clara);
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                    
                    border-radius: 24px;
                    
                    border-top: 2px solid rgba(255, 255, 255, 0.2);
                    border-left: 1px solid rgba(255, 255, 255, 0.2);
                    border-right: 1px solid rgba(255, 255, 255, 0.2);
                    
                    box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);


                    border-radius: 14px;

                    min-width: 130px;
                    padding: 3px 14px;
                    
                    
                }
            }
        }

    }
   
}

main{
    width: 100%;
    height: auto;

    padding: 14px;
    margin-top: 24px;

    gap: 14px;

    display: grid;

    grid-template-areas: 
    "a a a b"
    "c c c c"
    "d d e e"
    "f f f f"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    background-color: var(--transparencia-clara);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);


    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

    border-radius: 24px;
    .containerA{
        grid-area: a;
        height: auto;
    

        background-color: var(--transparencia-clara);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);


        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

        border-radius: 24px;
        padding: 14px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .A-logo-img{
            width: 100%;
            max-width: 300px;
            height: auto;

        }
        .A-text-container{
            width: 100%;
            max-width: 500px;

            color: var(--primary-color);
        }
    }
    .containerB{
        grid-area: b;
        height: 350px;
  

        background-image: url('/artes.png');
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        border-radius: 24px;
        
    }
    .containerC{
        grid-area: c;
        height: 100px;
    

        background: rgba(255, 255, 255, 0.3);
        
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);


        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

        border-radius: 24px;
        padding: 14px;

        overflow: hidden;
        position: relative;

        color: var(--primary-color);

        display: flex;
        align-items: center;
        justify-content: center;
        .slider {
            display: flex;
            width: max-content; 
            animation: slide 10s linear infinite; 
          }
          
          .slide {
            flex: 0 0 auto;
            padding: 0 20px; 
            font-size: 24px; 
            white-space: nowrap; 
          }
          
          @keyframes slide {
            0% {
              transform: translateX(0); 
            }
            100% {
              transform: translateX(-50%); 
            }
          }
    }
    .containerD{
        grid-area: d;
        height: 100px;

        background:linear-gradient(45deg, transparent,rgba(0, 128, 0, 0.3), transparent);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    
    
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    
        box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);
    
        border-radius: 24px;
        padding: 14px;

        display: flex;
        align-items: center;
        justify-content: center;
        .botao-development-container {
            background: rgba(37, 211, 101, 0.7);
            border-radius: 14px;
            border-style: solid;
            border-color: #000000;
            border-width: 0px 0px 1px 0px;
            padding: 0px 0px 10px 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            flex-shrink: 0;
            width: 200px;
            height: 50px;
            position: relative;
            box-shadow: 0px 10px 30px 0px rgba(37, 211, 101, 0.8),
              inset 0px -4px 4px 0px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            transition: all 0.2s ease; /* Transição suave para todas as propriedades */
          }
          
          .botao-development {
            background: rgba(37, 211, 101, 0.9);
            border-radius: 14px;
            border-style: solid;
            border-color: rgba(37, 211, 101, 0.9);
            border-width: 1px 0px 0px 0px;
            align-self: stretch;
            flex: 1;
            position: relative;
            box-shadow: inset 0px -24px 24px 0px rgba(37, 211, 101, 0.5);
            overflow: hidden;
            transition: all 0.2s ease; /* Transição suave para todas as propriedades */
          }
          
          .btn-development {
            color: #ffffff;
            text-align: center;
            font-family: 'playfair';
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 185px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease; /* Transição suave para todas as propriedades */
            cursor: pointer;
            text-decoration: none;
          }
          
          /* Animação de "afundar" */
          .botao-development-container.clicked {
            box-shadow: 0px 5px 15px 0px rgba(37, 211, 101, 0.3),
              inset 0px -2px 2px 0px rgba(0, 0, 0, 0.3); /* Reduz a sombra */
            transform: translateY(2px); /* Move o botão para baixo */
          }
          
          .botao-development.clicked {
            box-shadow: inset 0px -12px 12px 0px rgba(37, 211, 101, 0.4); /* Reduz a sombra interna */
          }
          
          .btn-development.clicked {
            transform: translate(-50%, -48%); /* Ajusta a posição do texto */
          }
    }
    .containerE{
        grid-area: e;
        height: 100px;

        background: linear-gradient(
        to right,
        rgba(132, 59, 181, 0.2),rgba(253, 28, 28, 0.2),rgba(252, 176, 69, 0.2)
        );
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);


        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

        border-radius: 24px;
        padding: 14px;

        display: flex;
        align-items: center;
        justify-content: center;
        .botao-development-container {
            background: linear-gradient(
            to right,
            rgba(132, 59, 181, 0.5),rgba(253, 28, 28, 0.5),rgba(252, 176, 69, 0.5)
            );
            border-radius: 14px;
            border-style: solid;
            border-color: #000000;
            border-width: 0px 0px 1px 0px;
            padding: 0px 0px 10px 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            flex-shrink: 0;
            width: 200px;
            height: 50px;
            position: relative;
            box-shadow: 0px 10px 30px 0px rgba(252, 176, 69, 0.5),
              inset 0px -4px 4px 0px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            transition: all 0.2s ease; /* Transição suave para todas as propriedades */
          }
          
          .botao-development {
            background: linear-gradient(
            to right,
            rgba(132, 59, 181, 0.5),rgba(253, 28, 28, 0.5),rgba(252, 176, 69, 0.5)
            );
            border-radius: 14px;
            border-style: solid;
            border-color: rgba(252, 176, 69, 0.5);
            border-width: 1px 0px 0px 0px;
            align-self: stretch;
            flex: 1;
            position: relative;
            box-shadow: inset 0px -24px 24px 0px rgba(252, 176, 69, 0.5);
            overflow: hidden;
            transition: all 0.2s ease; 
          }
          
          .btn-development {
            color: #ffffff;
            text-align: center;
            font-family: 'playfair';
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 185px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease; /* Transição suave para todas as propriedades */
            cursor: pointer;
            text-decoration: none;
          }
          
          /* Animação de "afundar" */
          .botao-development-container.clicked {
            box-shadow: 0px 5px 15px 0px rgba(37, 211, 101, 0.3),
                        inset 0px -2px 2px 0px rgba(0, 0, 0, 0.3);
            transform: translateY(2px);
          }
          
          .botao-development.clicked {
            box-shadow: inset 0px -12px 12px 0px rgba(37, 211, 101, 0.4);
          }
          
          .btn-development.clicked {
            transform: translate(-50%, -48%);
          }
    }
    .containerF{
        grid-area: f;
        height: auto;
    

        background-color: rgba(96, 0, 128, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);


        border-top: 2px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);

        box-shadow: -0 3px 20px 3px rgba(120, 120, 120, 0.1);

        border-radius: 24px;
        padding: 14px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .converter-img{
            width: 100%;
            max-width: 300px;
            height: auto;
        }
        .converter-text{
            color: var(--primary-color);
        }
    }
 
}
@media screen and (max-width:768px) {
    main{
        grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d d d"
    "e e e e"
    "f f f f"
    ;
    }
}