<header #headerContainer>

    <section #tituloContainer class="titulo-container">
        <h1>Sobre</h1>
    </section>

    <section class="profile-container">
        <img src="/profile.png" alt="foto de perfil">
        <div class="profile-text-container">
            <div class="profile-titulo">
                <p><strong>
                    Olá, sou Maicon Douglas!
                    </strong> <br>
                    Web Development
                </p>
            </div>

            <div class="stacks-container">
                <h3>Stacks</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Vite</li>
                    <li>Angular</li>
                    <li>GSAP</li>
                    <li>JavaScript</li>
                    <li>Typescript</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    
                    
                </ul>
            </div>


        </div>
    </section>

   

</header>
