
<header [@homeContainer] #headerContainer>

    <section #tituloContainer class="titulo-container">
        <h1>Início</h1>
    </section>

    <section #descriptionContainer class="description-container">
        <p>Bem vindo a página de início! <br>
        Ainda não temos muito a para dizer, mas sim para mostrar =D <br>
        Dê uma navegada!</p>
    </section>

    <section class="angular-container">
        <div class="angular-text-container">
            <h1>Projeto elaborado com Angular</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Culpa iusto repellat dolor error esse quaerat, voluptatem,
                nulla laborum inventore commodi, delectus quisquam cupiditate itaque cumque neque doloremque similique ea? Dicta.</p>
        </div>
        <img src="/angular.png" alt="">
    </section>

</header>
